.navbar{
    background-color: lightblue;
    border: 3px solid;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

div > a{
    text-decoration: none;
    color: black;
}

div.card > img{
    width:300px;
    height: 300px;
}

.row {
    margin: 10px auto;
}

.column {
    display: inline-block;
}

.span-1-of-3 {
    width: 464px;
    margin-right: 8px;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}