.navbar{
    background-color: lightblue;
    border: 3px solid;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

div.navbar > a{
    text-decoration: none;
    color: black
}

.row{
    width: 1150px;
    margin: 0 auto;
    font-size: 21px; 
}

div.row > a{
    text-decoration: none;
}

.col{
    display: inline-block;
}

.span-1-of-3{
    width: 340px;   
    margin-right: 10px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.text{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo > h1{
    color: red;
    position:absolute;
    top:150px;
    left:650px;
    font-size: 70px;
    font-family: 'Lato', sans-serif;
}

.logo > img{
    height: 150px;
    width: 150px;
    margin-top: 150px;
    margin-left: 500px;
}